streamlit
sqlalchemy
openai
pydantic
pymupdf
python-docx
numpy
sentence-transformers
torchvision
pytesseract
pdf2image
Pillowpython-dotenv
pydantic-settings
celery
redis
chromadb
alembic
fastapi
uvicorn
